.header{
    padding: 10px;
    width: 700px;
    height: 200px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 30px;
    border-radius: 10px;
}
.image{
    height: 180px;
    border-radius: 10px;
}
.dash{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.dashname label{
    opacity: 0.8;
}
.dash-adress{
    margin-left: auto;
    font-size: 15px;
}
.side-text p{
    margin-top: 40px;
}